<div id="welcome-controller">

<div class="header">
	<div class="h1">
		<h1>Welcome to Ernd It!</h1>
	</div>
	<% if logged_in? %>

		<%= "Welcome #{current_user.name}!" %>
		<%= link_to 'Log Out', logout_path, method: :delete %>

	<% else %>

		<div class="login">

			<button><%= link_to "Login", login_path %></button>
		
			<button><%= link_to "Signup", signup_path %></button> 
	  	</div>

	<% end %>

</div>

	
</div> <!-- end welcome-controller -->

