<div id="welcome-controller">

	<h1 class="h1">Welcome to Ernd It!</h1>

	<% if logged_in? %>

		<%= "Welcome #{current_user.name}!" %>
		<%= link_to 'Log Out', logout_path, method: :delete %>

	<% else %>

		<div class="login">

			<span> Please </span> <br>

			<button><%= link_to "Login", login_path %></button>

			<br> <span> or </span> <br>
		
			<button><%= link_to "Signup", signup_path %></button> 
	  	</div>

	<% end %>

</div> <!-- end welcome-controller -->

