<% if logged_in? %>

	<%= "Welcome #{current_user.name}!" %>
	<%= link_to 'Log Out', logout_path, method: :delete %>

<% else %>

	<%= link_to "Login", login_path %>
	<%= link_to "Signup", signup_path %> 
  

<% end %>


<h1>This will be the login/welcome page</h1>
