#main-post-container {

	background-color: grey;
	padding: 5px;
	
	.header {
		background-color: grey;
		color: lightblue;
	}

	.welcome-user {
		font-size: 25px;
		margin:20px;
		background-color: lightblue;
		color: grey;
		border-radius: 20px;
		padding-left: 15px;
	}

	.user-logout {
		font-size: 25px;
		margin: 20px;
		margin-left: 1135px;
		margin-top: -59px;
		color: grey;
	}

	.h1 {
		font-size: 40px;
		margin: 0 auto;
		text-align: center;
		padding: 20px;
	}

	.body {
		background-color: lightblue;
		border-radius: 20px;
		margin: 10px;
		margin-bottom: 10px;
		padding:10px;
	}

	.new-post {
		text-align: center;
		margin: 30px;
		margin-top: 10px;
		margin-left: 361px;
		margin-right: 361px;
		padding: 20px;
		font-size: 30px;
		color: lightblue;
		background-color: grey;
		border-radius: 20px;
	}

	.full-post {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	.username {
		font-size: 30px;
		margin: 20px;
		color: grey;
		border-top: 3px solid grey
	}

	.post {
		display: flex;
		flex: 2;
		align-items: center;
		flex-direction: column;
		color: grey;
		border-bottom: 3px solid grey;
	}

	.post h3{
		color: grey;
		font-size: 28px;
	}

	.post-image {
		position: relative;
		z-index: 0;
		width: 450px;
		height: 450px;
		border-radius: 40px;
		overflow: hidden;
		img {
			
			width: 100%;
		}
		.earned-true {
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			z-index: 1;
			
			span {
				text-align: center;
				line-height: 4.5em;
				display: flex; 
				position: absolute;
				width: 100%;
				height: 100%;
				font-size: 94px;
				font-weight: 900;
				transform: rotate(-45deg);
				text-shadow: 0 0 20px #00D;
				color: lightblue;
			}
		}
	}
	

	.earned-false {
		border: 4px solid grey;
	}

	ul {
		list-style-type: none;
	}

	button {
		border-radius: 30px;
		margin: 10px;
		margin-bottom: 30px;
		padding: 10px;
		font-size: 16px;
		background-color: grey;
		color: lightblue;
		font-size: 18px;
	}

}

#edit-post-controller {

	background-color: grey;
	font-size: 40px;
	color: lightblue;
	text-align: center;

	.h1 {
		margin-bottom: 40px;
		border-bottom: 2px solid lightblue;
	}

	.edit {
		border: 4px solid lightblue;
		margin: 0 auto;
		font-size: 20px;
		margin-right: 400px;
		margin-left: 400px;
		padding: 50px;
		border-radius: 10px;
	}

	.edit section {
		font-size: 24px;
		margin-bottom: 20px;
	}

	.edit button {
		font-size: 20px;
		border-radius: 20px;
		padding: 5px;
		background-color: lightblue;
		color: grey;
		margin: 5px;
	}

}

#new-post-controller {
	background-color: grey;
	font-size: 40px;
	color: lightblue;
	text-align: center;

	.h1 {
		margin-bottom: 40px;
		border-bottom: 2px solid lightblue;
	}

	.new {
		border: 4px solid lightblue;
		margin: 0 auto;
		font-size: 20px;
		margin-right: 400px;
		margin-left: 400px;
		padding: 50px;
		border-radius: 10px;
	}

	.new p {
		font-size: 26px;
	}

	.new button {
		font-size: 20px;
		border-radius: 20px;
		padding: 5px;
		background-color: lightblue;
		color: grey;
		margin: 5px;
	}


}

#comment-container {
	background-color: grey;
	font-size: 20px;
	color: lightblue;
	text-align: center;

	.comment button {
		font-size: 20px;
		border-radius: 20px;
		padding: 5px;
		background-color: lightblue;
		color: grey;
		margin: 5px;
	}

	.comment form {
		font-size: 20px;
		border-radius: 20px;
		padding: 5px;
		background-color: lightblue;
		color: grey;
		margin: 5px;
	}
}

