#main-post-container {

	background-color: #383838;
	padding: 5px;
	
	.header {
		background-color: #383838;
		color: #87CEFA;
	}

	.welcome-user {
		font-size: 25px;
		margin:20px;
		background-color: lightgrey;
		color: #383838;
		border-radius: 20px;
		padding-left: 15px;
	}

	.user-logout {
		font-size: 25px;
		margin: 20px;
		margin-left: 1100px;
		margin-top: -59px;
		color: #383838;
		text-decoration: none;
	}

	.user-logout a {
		color: #383838;
	}

	.h1 {
		font-size: 40px;
		margin: 0 auto;
		text-align: center;
		padding: 20px;
		color: lightgrey;
	}

	.body {
		background-image: url("https://tostir.files.wordpress.com/2012/08/big-sky-16353.jpg");
		border-radius: 20px;
		margin: 10px;
		margin-bottom: 10px;
		padding:10px;
	}

	.new-post {
		text-align: center;
		margin: 30px;
		margin-top: 10px;
		margin-left: 361px;
		margin-right: 361px;
		padding: 20px;
		font-size: 30px;
		color: white;
		background-color: #383838;
		border-radius: 20px;
	}

	.new-post a {
		color: lightgrey;
	}

	.full-post {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	.full-post button {
		background-color: lightgrey;
	}

	.username {
		font-size: 30px;
		margin: 20px;
		color: lightgrey;
		border-top: 3px solid #383838
	}

	.post {
		display: flex;
		flex: 2;
		align-items: center;
		flex-direction: column;
		color: #383838;
		border-bottom: 3px solid #383838;
	}

	.post h3{
		color: #383838;
		font-size: 28px;
	}

	.post-image {
		position: relative;
		z-index: 0;
		width: 450px;
		height: 450px;
		border-radius: 40px;
		overflow: hidden;
		img {
			
			width: 100%;
		}
		.earned-true {
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			z-index: 1;
			
			span {
				text-align: center;
				line-height: 4.5em;
				display: flex; 
				position: absolute;
				width: 100%;
				height: 100%;
				font-size: 94px;
				font-weight: 900;
				transform: rotate(-45deg);
				text-shadow: 0 0 20px #00D;
				color: white;
			}
		}
	}
	

	.earned-false {
		border: 4px solid #383838;
	}

	ul {
		list-style-type: none;
	}

	button {
		border-radius: 30px;
		margin: 10px;
		margin-bottom: 30px;
		padding: 10px;
		font-size: 16px;
		background-color: #383838;
		color: #87CEFA;
		font-size: 18px;
	}

}

#edit-post-controller {
	width: 100%;
	margin: 0 auto;
	font-size: 40px;
	color: white;
	text-align: center;

	.h1 {
		margin-bottom: 40px;
	}

	.edit {
		width: 100%;
		margin: 0 auto;
		font-size: 20px;
		margin: 0 auto;
		padding: 50px;
		border-radius: 10px;
	}

	.edit section {
		width: 40%;
		font-size: 24px;
		margin: 0 auto;
		margin-bottom: 20px;
		
	}

	.edit section input {
		border-radius: 5px;
		color: #383838;
	}

	.edit button {
		width: 20%;
		font-size: 20px;
		border-radius: 20px;
		padding: 5px;
		background-color: white;
		color: #2a6496;
		margin: 5px;
	}

	.edit button input {
		background-color: white;
		color: #2a6496;
	}

	.edit button a {
		color: #2a6496;
	}

}

#new-post-controller {
	font-size: 40px;
	color: white;
	text-align: center;

	.h1 {
		margin-bottom: 40px;
	}

	.new {
		border: 4px solid white;
		margin: 0 auto;
		font-size: 20px;
		margin-right: 400px;
		margin-left: 400px;
		padding: 50px;
		border-radius: 10px;
	}

	.new p {
		font-size: 26px;
	}

	.new button input {
		background-color: white;
		color: #2a6496;
	}

	.new button a {
		color: #2a6496;
	}

	.new button {
		font-size: 20px;
		border-radius: 20px;
		padding: 5px;
		background-color: white;
		color: #383838;
		margin: 5px;
	}


}

/*#comment-container {
	background-color: #383838;
	font-size: 20px;
	color: #87CEFA;
	text-align: center;

	.comment button {
		font-size: 20px;
		border-radius: 20px;
		padding: 5px;
		background-color: #87CEFA;
		color: #383838;
		margin: 5px;
	}

	.comment form {
		font-size: 20px;
		border-radius: 20px;
		padding: 5px;
		background-color: #87CEFA;
		color: #383838;
		margin: 5px;
	}
}
*/
/*input[type="submit"] {
		font-size: 20px;
		border-radius: 20px;
		padding: 5px;
		background-color: lightblue;
		color: grey;
		margin: 5px;
}*/

